<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mensajes</title>
  </head>
  <body>
    <h1>Mensajes</h1>
    <div>
      <h3>Enviar un mensaje: </h3>
      <div>
        <form id="form-message" method="post">
          <div>
            <label for="user">Usuario</label>
            <input type="text" name="user" id="user" required />
          </div>
          <div>
            <label for="message">Mensaje</label>
            <input type="text" name="message" id="message" required />
          </div>
          <input type="submit" value="Enviar" />
        </form>
      </div>
    </div>
    <div id="messages"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/message.js"></script>
  </body>
</html>